certifi==2021.10.8
charset-normalizer==2.0.11
distlib==0.3.4
dnspython==2.2.0
filelock==3.4.2
idna==3.3
pip==22.0.3
platformdirs==2.4.1

pymongo==4.0.1
pyTelegramBotAPI==4.4.0

python-dotenv==0.19.2
requests==2.27.1
setuptools==58.1.0
six==1.16.0
urllib3==1.26.8